@import url('./font.css');
* {box-sizing: border-box;}
html,body{padding: 0;margin: 0;font-family: 'opensans_regular',sans-serif;font-size: 14px;}
h1,h2,h3,h4,h5,h6{margin: 0;font-family: 'opensans_semibold',sans-serif;}
a, input, select, button{box-shadow: none !important}
img,iframe{max-width: 100%;border: 0}
b,strong{font-family: 'opensans_semibold',sans-serif}
::-webkit-input-placeholder{color:#ccc;font-weight:300;font-size:14px}
::-moz-placeholder{color:#ccc;font-weight:300;font-size:14px}
:-ms-input-placeholder{color:#ccc;font-weight:300;font-size:14px}
:-moz-placeholder{color:#ccc;font-weight:300;font-size:14px}
::-webkit-scrollbar{width:7px;height:5px}
::-webkit-scrollbar-track{background: #ccc}
::-webkit-scrollbar-thumb{background: #191919}
::selection {background: orange !important}
.text-center{text-align: center}
*:focus{outline: none;box-shadow: none;}


/* COSTOM ANTD 
=========================== */
.ant-select-search__field__placeholder, .ant-select-selection__placeholder{font-weight: 300;}
.ant-input,.ant-select,.ant-input-affix-wrapper{font-family: Arial, Helvetica, sans-serif;}
.ant-select-selection__rendered{line-height: initial}
.ant-select-selection--single{height: initial;border-radius: 0;line-height: initial;}
.ant-input-search input[type='text']{height: initial;border-radius: 0;}
.ant-select-dropdown{border-radius: 0}
.ant-select-dropdown-menu-item{border-radius: 0 !important;transition: 0s all !important;font-family: Arial, Helvetica, sans-serif;font-size: 14px}
.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-active{background: #f9f9f9;color: #000;transition: 0s all;;}
.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab{font-size: 18px;color: #333;background: #c1cfd8;border-radius: 0;line-height: initial;height: initial;padding: 8px 0;width: 160px;text-align: center;border: 0;margin-right: 5px}
.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active{background: #ff9566;color: white;font-weight: normal;}
.ant-modal-content{box-shadow: none;border-radius: 0}
.ant-modal-close-x{width: initial;height: initial;line-height: 32px;padding-right: 15px;}
.ant-modal-close-x>i{color: #ccc;font-size: 14px;}
.ant-modal-close-x>i:after{content: 'CLOSE';display: inline-block;vertical-align: middle;font-weight: 500;margin-left: 2px;}
.ant-modal-close-x>i>svg{display: inline-block;vertical-align: middle;transform: rotate(0);transition: .2s all}
.ant-modal-close-x>i:hover{color: #777}
.ant-modal-close-x>i:hover>svg{transform: rotate(-90deg);transition: .3s all}

/* DEFAULT CLASS
=========================== */
.container{width: 1200px;max-width: 100%;margin: 0 auto;padding: 0 15px;display: block;}