@font-face {
    font-family: opensans_regular;
    src: url(/fonts/opensans-regular-webfont.woff2) format("woff2"), url(/fonts/opensans-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: opensans_semibold;
    src: url(/fonts/opensans-semibold-webfont.woff2) format("woff2"), url(/fonts/opensans-semibold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
